body {
    font-family: 'Red Hat Display', sans-serif;
    background-color: rgba(123, 169, 185, 0.712);
}

.content-wrapper {
    margin: 0 auto;
    width: 80%;
    padding-bottom: 40px;
}

.form-wrapper {
    padding: 40px;
    margin: 24px 0 40px 0;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
}

#car-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#car-form input {
    font-size: 14px;
    padding: 10px 6px;
    border: transparent;
    border-bottom: 2px solid rgba(184, 183, 183, 0.637);
    background-color: white;
    border-radius: 2px;
    font-family: 'Red Hat Display', sans-serif;
}

#car-form input:focus {
    outline: 2px solid rgba(184, 183, 183, 0.637);
    border: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

button {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 600;
    border: transparent;
    border-radius: 4px;
    color: white;
    padding: 10px 12px;
    letter-spacing: 0.8px;
    cursor: pointer;
    font-weight: 600;
    font-size: 16px;
}

#car-btn {
    margin-top: 20px;
    background-color: rgba(26, 79, 114, 0.842);
}


img {
    border-radius: 4px 4px 0 0;
}

#car-output {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}

.card-container {
    display: flex;
    flex-direction: column;
    gap: 0;
    border-radius: 4px 4px 0 0;
}

.list-container {
    background-color: white;
    padding: 24px 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    gap: 24px;
    margin: 0 auto;
}

ul {
    width: 80%;
    gap: 16px;
    display: grid;
    grid-template-areas:
        "brand price"
        "model mileage";
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

ul li {
    font-family: 'Red Hat Display', sans-serif;
    font-size: 16px;
}

.brand-li {
    grid-area: brand;
    font-size: 24px;
    font-weight: 400;
    color: rgb(61, 61, 61);

}

.model-li {
    grid-area: model;
    font-weight: 400;
    color: rgb(99, 98, 98);
    font-size: 20px;
}

.mileage-li {
    grid-area: mileage;
    background-color: rgba(26, 79, 114, 0.555);
    border-radius: 4px;
    padding: 8px 6px;
    color: white;
    text-align: center;
}

.price-li {
    grid-area: price;
    background-color: rgba(26, 114, 26, 0.863);
    border-radius: 4px;
    padding: 8px 6px;
    color: white;
    text-align: center;
}

.remove-container {
    display: flex;
    padding-top: 24px;
    border-top: 1px solid rgba(184, 183, 183, 0.637);
    border-radius: 2px;
}

.remove-container button {
    margin: 0 auto;
    width: 80%;
    background-color: rgba(197, 58, 58, 0.904);
}